{% extends "template.html" %}
{% block conteudo %}

<h1>{{ page_title }}</h1>

<a class="btn btn-primary" href="{{ url_for('new_register') }}">Novo Alimento</a>
<a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
<a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>

<table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th>ID</th>
                <th>Alimento</th>
                <th>Vencimento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for food in foods %}
            <tr>
                <td>{{ food.id }}</td>
                <td>{{ food.food }}</td>
                <td>{{ food.expiration }}</td>
                <td>
                    <a href="{{ url_for('update_page', id=food.id) }}">Editar</a>
                    <a href="{{ url_for('delete_register', id=food.id) }}">Deletar</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}